@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'DM Mono';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

/* Style for the header */
.header {
    color: #333;
    text-align: center;
    margin-top: 50px;
    font-family: 'DM Mono';
    font-size: 36px;
}

/* Style for the paragraph */
p {
    color: #666;
    text-align: center;
    font-size: 18px;
    margin: 20px auto;
    width: 80%;
    line-height: 1.6;
}
